.PasswordForm {
    background-color: #fff;
    padding: 40px 32px;
    width: 660px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.accountPassword {
    border-bottom: 1px solid rgba(234, 236, 240, 1);
}

.accountPassword h1 {
    font-family: "MyCustomFont";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(16, 24, 40, 1);
    margin-bottom: 15px;
}

.passwordText h1 {
    font-family: "MyCustomFont";
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(29, 41, 57, 1);
}

.passwordText h1 span {
    font-weight: 700;
}

.passwordText p {
    font-family: "MyCustomFont";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(52, 64, 84, 1);
}